%h1.cover-heading Dwollify
%p.lead Dwollify is the universal donate button for the web, powered by Dwolla.  Instantly send money to any email address.  Just install the extension, sign in here, and you're good to go.
%p.lead
  %a.btn.btn-lg.btn-default{:href => CHROME_EXTENSION_URL} Get the extension!

