%form#credentials
  %input#uid{type: 'hidden', value: current_user.uid}
  %input#apitoken{type: 'hidden', value: current_user.api_token}
%h1.cover-heading Setting up credentials...
%p.lead The Dwollify extension should be connecting now. A message will show when it is finished. If you don't have the extension yet, click the link below to install it.
%p.lead
  %a.btn.btn-lg.btn-default{:href => "#"} Install Extension

